[submodule "jade/vendor/imgui"]
	path = JadeEngine/vendor/imguiVendor
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "JadeEngine/vendor/GLFW"]
	path = JadeEngine/vendor/GLFW
	url = https://github.com/ambrosiogabe/glfw
[submodule "JadeEngine/vendor/PhysX"]
	path = JadeEngine/vendor/PhysX
	url = https://github.com/ambrosiogabe/PhysX
[submodule "JadeEngine/vendor/box2DVendor"]
	path = JadeEngine/vendor/box2DVendor
	url = https://github.com/ambrosiogabe/box2d
[submodule "JadeEngine/vendor/nlohmann-json"]
	path = JadeEngine/vendor/nlohmann-json
	url = https://github.com/ambrosiogabe/json
[submodule "JadeEngine/vendor/enttVendor"]
	path = JadeEngine/vendor/enttVendor
	url = https://github.com/skypjack/entt
[submodule "JadeEngine/vendor/glmVendor"]
	path = JadeEngine/vendor/glmVendor
	url = https://github.com/g-truc/glm
