{
    "Assets": {
        "AssetCount": 2,
        "AssetList": {
            "1": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\santasprites\\png\\Idle (12).png",
                "ResourceId": 1,
                "Type": 1
            },
            "2": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\graveyardtilesetnew\\png\\Objects\\Crate.png",
                "ResourceId": 2,
                "Type": 1
            }
        },
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 8,
                "Position": {
                    "X": -32.57911682128906,
                    "Y": -363.7397766113281,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 9.270990371704102,
                    "Y": 9.357144355773926,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 9,
                "Position": {
                    "X": 182.13450622558594,
                    "Y": 11.934356689453125,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 5.429708003997803,
                    "Y": 5.701658248901367,
                    "Z": 1.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 8,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 9,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 809.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Box2D": {
                "Entity": 8,
                "HalfSize": {
                    "X": 16.0,
                    "Y": 16.0
                }
            }
        },
        {
            "Box2D": {
                "Entity": 9,
                "HalfSize": {
                    "X": 16.0,
                    "Y": 15.699999809265137
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 2,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 8,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 2,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 9,
                "ZIndex": 0
            }
        }
    ],
    "Project": "C:\\Users\\Gabe\\Documents\\JadeProjects\\TestProject1\\NewProject.jprj",
    "Size": 8
}