{
    "Assets": {
        "AssetCount": 0,
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 2097152,
                "Position": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 2097152,
                "ZIndex": 0
            }
        }
    ],
    "Project": "C:\\Users\\Gabe\\Documents\\Coding\\JadeProjects\\TestProject\\.jprj",
    "Size": 2
}