{
    "Assets": {
        "AssetCount": 0,
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 0,
                "Position": {
                    "X": 522.841064453125,
                    "Y": 158.49485778808594,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 1,
                "Position": {
                    "X": 455.03778076171875,
                    "Y": 16.425870895385742,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 2,
                "Position": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 0,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 1,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 2,
                "ZIndex": 0
            }
        },
        {
            "KillScript": {
                "Entity": 1,
                "eIsGreat": 2,
                "mikeIsDead": 0,
                "personIWantToKill": 10.0,
                "piIsGreat": 3.140000104904175
            }
        },
        {
            "KillScript": {
                "Entity": 0,
                "eIsGreat": 2,
                "mikeIsDead": 0,
                "personIWantToKill": 10.0,
                "piIsGreat": 3.140000104904175
            }
        },
        {
            "MyOtherClass": {
                "Entity": 0,
                "myOtherClassFloat": 3.140000104904175
            }
        },
        {
            "MyClass": {
                "Entity": 0,
                "anotherAnother": 20.0,
                "anotherFloat": 10.0,
                "someFloat": 0.0,
                "someSortOfInt": 10
            }
        },
        {
            "FlowerScript": {
                "Entity": 0,
                "flowerFloats": 20.0,
                "flowerIntsPower": 10
            }
        },
        {
            "Ship": {
                "Entity": 2
            }
        }
    ],
    "Project": "C:\\Users\\Gabe\\Documents\\Coding\\JadeProjects\\TestProject\\.jprj",
    "Size": 12
}