{
    "Assets": {
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 1048586,
                "LocalPosition": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Parent": 1048575,
                "Position": {
                    "X": 0.8955097794532776,
                    "Y": -4.267094612121582,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 31.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 14.66324234008789,
                    "Y": 1.7389719486236572,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 1048587,
                "LocalPosition": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Parent": 1048575,
                "Position": {
                    "X": -1.4669525623321533,
                    "Y": 0.02176487445831299,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 0.4737114906311035,
                    "Y": 1.0,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 5,
                "LocalPosition": {
                    "X": 4.795316219329834,
                    "Y": -3.212813377380371,
                    "Z": 0.0
                },
                "Parent": 4,
                "Position": {
                    "X": 4.795316219329834,
                    "Y": -3.212813377380371,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 31.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 9.300002098083496,
                    "Y": 0.42928507924079895,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 1048582,
                "LocalPosition": {
                    "X": 5.402122974395752,
                    "Y": -2.816650390625,
                    "Z": 0.0
                },
                "Parent": 4,
                "Position": {
                    "X": 5.402122974395752,
                    "Y": -2.816650390625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 31.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 9.300002098083496,
                    "Y": 0.42928507924079895,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 1048583,
                "LocalPosition": {
                    "X": 5.997261047363281,
                    "Y": -2.39963698387146,
                    "Z": 0.0
                },
                "Parent": 4,
                "Position": {
                    "X": 5.997261047363281,
                    "Y": -2.39963698387146,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 31.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 9.300002098083496,
                    "Y": 0.42928507924079895,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 1048584,
                "LocalPosition": {
                    "X": 6.784943580627441,
                    "Y": -2.0503885746002197,
                    "Z": 0.0
                },
                "Parent": 4,
                "Position": {
                    "X": 6.784943580627441,
                    "Y": -2.0503885746002197,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 31.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 9.300002098083496,
                    "Y": 0.42928507924079895,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 1048585,
                "LocalPosition": {
                    "X": 7.43259334564209,
                    "Y": -1.6490131616592407,
                    "Z": 0.0
                },
                "Parent": 4,
                "Position": {
                    "X": 7.43259334564209,
                    "Y": -1.6490131616592407,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 31.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 9.300002098083496,
                    "Y": 0.42928507924079895,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 4,
                "LocalPosition": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Parent": 1048575,
                "Position": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048587,
                "FixedRotation": true,
                "LinearDamping": 0.5,
                "Mass": 6.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048586,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 5,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048582,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048583,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048584,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048585,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Box2D": {
                "Entity": 1048587,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Box2D": {
                "Entity": 1048586,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Box2D": {
                "Entity": 5,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Box2D": {
                "Entity": 1048582,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Box2D": {
                "Entity": 1048583,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Box2D": {
                "Entity": 1048584,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Box2D": {
                "Entity": 1048585,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 1048586,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 0.6901960968971252
                },
                "Entity": 1048587,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 5,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 1048582,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 1048583,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 1048584,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 1048585,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 0.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 4,
                "ZIndex": 0
            }
        },
        {
            "Tag": {
                "Entity": 1048586,
                "Name": "Ground"
            }
        },
        {
            "Tag": {
                "Entity": 1048587,
                "Name": "Player"
            }
        },
        {
            "Tag": {
                "Entity": 5,
                "Name": "Ground"
            }
        },
        {
            "Tag": {
                "Entity": 1048582,
                "Name": "Ground"
            }
        },
        {
            "Tag": {
                "Entity": 1048583,
                "Name": "Ground"
            }
        },
        {
            "Tag": {
                "Entity": 1048584,
                "Name": "Ground"
            }
        },
        {
            "Tag": {
                "Entity": 1048585,
                "Name": "Ground"
            }
        },
        {
            "Tag": {
                "Entity": 4,
                "Name": "Stairs"
            }
        },
        {
            "PlayerScript": {
                "Entity": 1048587,
                "PlayerJumpBoost": 80.0,
                "PlayerSpeed": 10.0
            }
        }
    ],
    "EditorCamera": {
        "Aspect": 1.7777777910232544,
        "Components": null,
        "Fov": 45.0,
        "ProjectionFarPlane": 100.0,
        "ProjectionNearPlane": 0.5,
        "ProjectionSize": {
            "X": 6.0,
            "Y": 3.0
        },
        "Transform": {
            "LocalPosition": {
                "X": 0.0,
                "Y": 0.0,
                "Z": 0.0
            },
            "Parent": 1048575,
            "Position": {
                "X": 0.9316321611404419,
                "Y": -0.9537382125854492,
                "Z": 0.0
            },
            "Rotation": {
                "X": 0.0,
                "Y": 0.0,
                "Z": 0.0
            },
            "Scale": {
                "X": 1.0,
                "Y": 1.0,
                "Z": 1.0
            }
        },
        "Zoom": 2.3859763145446777
    },
    "Project": "C:\\Users\\Gabe\\Documents\\Coding\\CocoaProjects\\NewProject\\NewProject.cprj",
    "SceneHeirarchyOrder": [
        {
            "Id": 1048587,
            "Index": 0,
            "IsOpen": true,
            "Level": 0,
            "Selected": true
        },
        {
            "Id": 1048586,
            "Index": 1,
            "IsOpen": true,
            "Level": 0,
            "Selected": false
        },
        {
            "Id": 4,
            "Index": 2,
            "IsOpen": true,
            "Level": 0,
            "Selected": false
        },
        {
            "Id": 5,
            "Index": 3,
            "IsOpen": true,
            "Level": 1,
            "Selected": false
        },
        {
            "Id": 1048582,
            "Index": 4,
            "IsOpen": true,
            "Level": 1,
            "Selected": false
        },
        {
            "Id": 1048583,
            "Index": 5,
            "IsOpen": true,
            "Level": 1,
            "Selected": false
        },
        {
            "Id": 1048584,
            "Index": 6,
            "IsOpen": true,
            "Level": 1,
            "Selected": false
        },
        {
            "Id": 1048585,
            "Index": 7,
            "IsOpen": true,
            "Level": 1,
            "Selected": false
        }
    ]
}