{
    "Assets": {
        "Fonts": {
            "0": {
                "CharacterMap": {
                    "0": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.05000000074505806,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "1": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.08708333224058151,
                        "ux1": 0.11666666716337204,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "10": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.6870833039283752,
                        "ux1": 0.7166666388511658,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "100": {
                        "advance": 0.578125,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.5,
                        "chScaleY": 0.671875,
                        "ux0": 0.2370833456516266,
                        "ux1": 0.3083333373069763,
                        "uy0": 0.7547500133514404,
                        "uy1": 0.8100000023841858
                    },
                    "101": {
                        "advance": 0.546875,
                        "bearingX": 0.03125,
                        "bearingY": 0.484375,
                        "chScaleX": 0.515625,
                        "chScaleY": 0.484375,
                        "ux0": 0.3454166650772095,
                        "ux1": 0.4166666567325592,
                        "uy0": 0.7547500133514404,
                        "uy1": 0.7975000143051147
                    },
                    "102": {
                        "advance": 0.34375,
                        "bearingX": 0.046875,
                        "bearingY": 0.6875,
                        "chScaleX": 0.265625,
                        "chScaleY": 0.6875,
                        "ux0": 0.45375001430511475,
                        "ux1": 0.49166667461395264,
                        "uy0": 0.7547500133514404,
                        "uy1": 0.8100000023841858
                    },
                    "103": {
                        "advance": 0.578125,
                        "bearingX": 0.03125,
                        "bearingY": 0.484375,
                        "chScaleX": 0.484375,
                        "chScaleY": 0.71875,
                        "ux0": 0.5287500023841858,
                        "ux1": 0.6000000238418579,
                        "uy0": 0.7547500133514404,
                        "uy1": 0.8149999976158142
                    },
                    "104": {
                        "advance": 0.53125,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.4375,
                        "chScaleY": 0.671875,
                        "ux0": 0.6370832920074463,
                        "ux1": 0.6958333253860474,
                        "uy0": 0.7547500133514404,
                        "uy1": 0.8100000023841858
                    },
                    "105": {
                        "advance": 0.296875,
                        "bearingX": 0.046875,
                        "bearingY": 0.71875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.71875,
                        "ux0": 0.7329166531562805,
                        "ux1": 0.7583333253860474,
                        "uy0": 0.7547500133514404,
                        "uy1": 0.8125
                    },
                    "106": {
                        "advance": 0.359375,
                        "bearingX": -0.0625,
                        "bearingY": 0.71875,
                        "chScaleX": 0.359375,
                        "chScaleY": 0.953125,
                        "ux0": 0.7954166531562805,
                        "ux1": 0.8500000238418579,
                        "uy0": 0.7547500133514404,
                        "uy1": 0.8299999833106995
                    },
                    "107": {
                        "advance": 0.546875,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.515625,
                        "chScaleY": 0.671875,
                        "ux0": 0.8870832920074463,
                        "ux1": 0.9583333134651184,
                        "uy0": 0.7547500133514404,
                        "uy1": 0.8100000023841858
                    },
                    "108": {
                        "advance": 0.296875,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.04583333432674408,
                        "uy0": 0.8522499799728394,
                        "uy1": 0.9075000286102295
                    },
                    "109": {
                        "advance": 0.78125,
                        "bearingX": 0.046875,
                        "bearingY": 0.484375,
                        "chScaleX": 0.671875,
                        "chScaleY": 0.484375,
                        "ux0": 0.08291666209697723,
                        "ux1": 0.17499999701976776,
                        "uy0": 0.8522499799728394,
                        "uy1": 0.8949999809265137
                    },
                    "11": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.7537499666213989,
                        "ux1": 0.7833333611488342,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "110": {
                        "advance": 0.546875,
                        "bearingX": 0.046875,
                        "bearingY": 0.484375,
                        "chScaleX": 0.4375,
                        "chScaleY": 0.484375,
                        "ux0": 0.2120833396911621,
                        "ux1": 0.2708333432674408,
                        "uy0": 0.8522499799728394,
                        "uy1": 0.8949999809265137
                    },
                    "111": {
                        "advance": 0.5625,
                        "bearingX": 0.03125,
                        "bearingY": 0.484375,
                        "chScaleX": 0.5,
                        "chScaleY": 0.484375,
                        "ux0": 0.30791667103767395,
                        "ux1": 0.3791666626930237,
                        "uy0": 0.8522499799728394,
                        "uy1": 0.8949999809265137
                    },
                    "112": {
                        "advance": 0.578125,
                        "bearingX": 0.046875,
                        "bearingY": 0.484375,
                        "chScaleX": 0.5,
                        "chScaleY": 0.671875,
                        "ux0": 0.4162500202655792,
                        "ux1": 0.48750001192092896,
                        "uy0": 0.8522499799728394,
                        "uy1": 0.9075000286102295
                    },
                    "113": {
                        "advance": 0.578125,
                        "bearingX": 0.03125,
                        "bearingY": 0.484375,
                        "chScaleX": 0.5,
                        "chScaleY": 0.671875,
                        "ux0": 0.5245833396911621,
                        "ux1": 0.5958333611488342,
                        "uy0": 0.8522499799728394,
                        "uy1": 0.9075000286102295
                    },
                    "114": {
                        "advance": 0.328125,
                        "bearingX": 0.046875,
                        "bearingY": 0.5,
                        "chScaleX": 0.28125,
                        "chScaleY": 0.5,
                        "ux0": 0.6329166293144226,
                        "ux1": 0.6708333492279053,
                        "uy0": 0.8522499799728394,
                        "uy1": 0.8949999809265137
                    },
                    "115": {
                        "advance": 0.359375,
                        "bearingX": 0.0,
                        "bearingY": 0.484375,
                        "chScaleX": 0.359375,
                        "chScaleY": 0.5,
                        "ux0": 0.7079166173934937,
                        "ux1": 0.7583333253860474,
                        "uy0": 0.8522499799728394,
                        "uy1": 0.8924999833106995
                    },
                    "116": {
                        "advance": 0.328125,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.265625,
                        "chScaleY": 0.6875,
                        "ux0": 0.7954166531562805,
                        "ux1": 0.8333333134651184,
                        "uy0": 0.8522499799728394,
                        "uy1": 0.9075000286102295
                    },
                    "117": {
                        "advance": 0.546875,
                        "bearingX": 0.046875,
                        "bearingY": 0.484375,
                        "chScaleX": 0.4375,
                        "chScaleY": 0.5,
                        "ux0": 0.8704166412353516,
                        "ux1": 0.9291666746139526,
                        "uy0": 0.8522499799728394,
                        "uy1": 0.8924999833106995
                    },
                    "118": {
                        "advance": 0.390625,
                        "bearingX": -0.046875,
                        "bearingY": 0.484375,
                        "chScaleX": 0.46875,
                        "chScaleY": 0.515625,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.0833333358168602,
                        "uy0": 0.9297499656677246,
                        "uy1": 0.9725000262260437
                    },
                    "119": {
                        "advance": 0.78125,
                        "bearingX": 0.046875,
                        "bearingY": 0.484375,
                        "chScaleX": 0.671875,
                        "chScaleY": 0.5,
                        "ux0": 0.12041666358709335,
                        "ux1": 0.21250000596046448,
                        "uy0": 0.9297499656677246,
                        "uy1": 0.9700000286102295
                    },
                    "12": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.8204166293144226,
                        "ux1": 0.8500000238418579,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "120": {
                        "advance": 0.53125,
                        "bearingX": 0.046875,
                        "bearingY": 0.484375,
                        "chScaleX": 0.4375,
                        "chScaleY": 0.484375,
                        "ux0": 0.24958333373069763,
                        "ux1": 0.3125,
                        "uy0": 0.9297499656677246,
                        "uy1": 0.9700000286102295
                    },
                    "121": {
                        "advance": 0.53125,
                        "bearingX": 0.046875,
                        "bearingY": 0.484375,
                        "chScaleX": 0.4375,
                        "chScaleY": 0.71875,
                        "ux0": 0.34958332777023315,
                        "ux1": 0.4124999940395355,
                        "uy0": 0.9297499656677246,
                        "uy1": 0.9900000095367432
                    },
                    "122": {
                        "advance": 0.5,
                        "bearingX": 0.0,
                        "bearingY": 0.484375,
                        "chScaleX": 0.484375,
                        "chScaleY": 0.484375,
                        "ux0": 0.44958335161209106,
                        "ux1": 0.5166666507720947,
                        "uy0": 0.9297499656677246,
                        "uy1": 0.9700000286102295
                    },
                    "13": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.8870832920074463,
                        "ux1": 0.9166666865348816,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "14": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.95374995470047,
                        "ux1": 0.9833333492279053,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "15": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.05000000074505806,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "16": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.08708333224058151,
                        "ux1": 0.11666666716337204,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "17": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.1537500023841858,
                        "ux1": 0.18333333730697632,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "18": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.22041667997837067,
                        "ux1": 0.25,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "19": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.28708332777023315,
                        "ux1": 0.3166666626930237,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "2": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.1537500023841858,
                        "ux1": 0.18333333730697632,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "20": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.3537500202655792,
                        "ux1": 0.38333332538604736,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "21": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.4204166829586029,
                        "ux1": 0.44999998807907104,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "22": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.4870833456516266,
                        "ux1": 0.5166666507720947,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "23": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.5537499785423279,
                        "ux1": 0.5833333134651184,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "24": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.6204166412353516,
                        "ux1": 0.6499999761581421,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "25": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.6870833039283752,
                        "ux1": 0.7166666388511658,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "26": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.7537499666213989,
                        "ux1": 0.7833333611488342,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "27": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.8204166293144226,
                        "ux1": 0.8500000238418579,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "28": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.8870832920074463,
                        "ux1": 0.9166666865348816,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "29": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.95374995470047,
                        "ux1": 0.9833333492279053,
                        "uy0": 0.0897500067949295,
                        "uy1": 0.14499999582767487
                    },
                    "3": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.22041667997837067,
                        "ux1": 0.25,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "30": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.05000000074505806,
                        "uy0": 0.16725000739097595,
                        "uy1": 0.2224999964237213
                    },
                    "31": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.08708333224058151,
                        "ux1": 0.11666666716337204,
                        "uy0": 0.16725000739097595,
                        "uy1": 0.2224999964237213
                    },
                    "32": {
                        "advance": 0.25,
                        "bearingX": 0.0,
                        "bearingY": 0.0,
                        "chScaleX": 0.0,
                        "chScaleY": 0.0,
                        "ux0": 0.1537500023841858,
                        "ux1": 0.15833333134651184,
                        "uy0": 0.16725000739097595,
                        "uy1": 0.17000000178813934
                    },
                    "33": {
                        "advance": 0.4375,
                        "bearingX": 0.09375,
                        "bearingY": 0.671875,
                        "chScaleX": 0.234375,
                        "chScaleY": 0.6875,
                        "ux0": 0.1954166740179062,
                        "ux1": 0.2291666716337204,
                        "uy0": 0.16725000739097595,
                        "uy1": 0.2224999964237213
                    },
                    "34": {
                        "advance": 0.5,
                        "bearingX": 0.0625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.375,
                        "chScaleY": 0.265625,
                        "ux0": 0.26625001430511475,
                        "ux1": 0.3166666626930237,
                        "uy0": 0.16725000739097595,
                        "uy1": 0.1899999976158142
                    },
                    "35": {
                        "advance": 0.671875,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.578125,
                        "chScaleY": 0.671875,
                        "ux0": 0.3537500202655792,
                        "ux1": 0.4333333373069763,
                        "uy0": 0.16725000739097595,
                        "uy1": 0.2224999964237213
                    },
                    "36": {
                        "advance": 0.5625,
                        "bearingX": 0.109375,
                        "bearingY": 0.75,
                        "chScaleX": 0.34375,
                        "chScaleY": 0.828125,
                        "ux0": 0.4704166650772095,
                        "ux1": 0.5208333134651184,
                        "uy0": 0.16725000739097595,
                        "uy1": 0.23499999940395355
                    },
                    "37": {
                        "advance": 0.921875,
                        "bearingX": 0.0625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.796875,
                        "chScaleY": 0.671875,
                        "ux0": 0.5579166412353516,
                        "ux1": 0.6666666865348816,
                        "uy0": 0.16725000739097595,
                        "uy1": 0.22499999403953552
                    },
                    "38": {
                        "advance": 0.765625,
                        "bearingX": 0.109375,
                        "bearingY": 0.6875,
                        "chScaleX": 0.546875,
                        "chScaleY": 0.703125,
                        "ux0": 0.70374995470047,
                        "ux1": 0.7791666388511658,
                        "uy0": 0.16725000739097595,
                        "uy1": 0.22499999403953552
                    },
                    "39": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.265625,
                        "ux0": 0.8162499666213989,
                        "ux1": 0.8458333611488342,
                        "uy0": 0.16725000739097595,
                        "uy1": 0.1899999976158142
                    },
                    "4": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.28708332777023315,
                        "ux1": 0.3166666626930237,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "40": {
                        "advance": 0.359375,
                        "bearingX": 0.0625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.265625,
                        "chScaleY": 0.796875,
                        "ux0": 0.8829166293144226,
                        "ux1": 0.9208333492279053,
                        "uy0": 0.16725000739097595,
                        "uy1": 0.23250000178813934
                    },
                    "41": {
                        "advance": 0.359375,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.265625,
                        "chScaleY": 0.796875,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.05833333358168602,
                        "uy0": 0.25725001096725464,
                        "uy1": 0.32249999046325684
                    },
                    "42": {
                        "advance": 0.5,
                        "bearingX": 0.078125,
                        "bearingY": 0.703125,
                        "chScaleX": 0.34375,
                        "chScaleY": 0.359375,
                        "ux0": 0.09541666507720947,
                        "ux1": 0.14166666567325592,
                        "uy0": 0.25725001096725464,
                        "uy1": 0.2849999964237213
                    },
                    "43": {
                        "advance": 0.75,
                        "bearingX": 0.125,
                        "bearingY": 0.59375,
                        "chScaleX": 0.5,
                        "chScaleY": 0.515625,
                        "ux0": 0.17875000834465027,
                        "ux1": 0.25,
                        "uy0": 0.25725001096725464,
                        "uy1": 0.30000001192092896
                    },
                    "44": {
                        "advance": 0.375,
                        "bearingX": 0.078125,
                        "bearingY": 0.21875,
                        "chScaleX": 0.21875,
                        "chScaleY": 0.28125,
                        "ux0": 0.28708332777023315,
                        "ux1": 0.32083332538604736,
                        "uy0": 0.25725001096725464,
                        "uy1": 0.2800000011920929
                    },
                    "45": {
                        "advance": 0.21875,
                        "bearingX": 0.0,
                        "bearingY": 0.359375,
                        "chScaleX": 0.21875,
                        "chScaleY": 0.125,
                        "ux0": 0.3579166829586029,
                        "ux1": 0.3916666805744171,
                        "uy0": 0.25725001096725464,
                        "uy1": 0.27000001072883606
                    },
                    "46": {
                        "advance": 0.375,
                        "bearingX": 0.078125,
                        "bearingY": 0.21875,
                        "chScaleX": 0.234375,
                        "chScaleY": 0.234375,
                        "ux0": 0.42875000834465027,
                        "ux1": 0.4625000059604645,
                        "uy0": 0.25725001096725464,
                        "uy1": 0.2775000035762787
                    },
                    "47": {
                        "advance": 0.34375,
                        "bearingX": 0.015625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.296875,
                        "chScaleY": 0.796875,
                        "ux0": 0.49958333373069763,
                        "ux1": 0.5416666865348816,
                        "uy0": 0.25725001096725464,
                        "uy1": 0.32249999046325684
                    },
                    "48": {
                        "advance": 0.5625,
                        "bearingX": 0.046875,
                        "bearingY": 0.6875,
                        "chScaleX": 0.46875,
                        "chScaleY": 0.703125,
                        "ux0": 0.57874995470047,
                        "ux1": 0.6458333134651184,
                        "uy0": 0.25725001096725464,
                        "uy1": 0.3149999976158142
                    },
                    "49": {
                        "advance": 0.5625,
                        "bearingX": 0.1875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.6829166412353516,
                        "ux1": 0.7124999761581421,
                        "uy0": 0.25725001096725464,
                        "uy1": 0.3125
                    },
                    "5": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.3537500202655792,
                        "ux1": 0.38333332538604736,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "50": {
                        "advance": 0.5625,
                        "bearingX": 0.046875,
                        "bearingY": 0.6875,
                        "chScaleX": 0.46875,
                        "chScaleY": 0.6875,
                        "ux0": 0.7495833039283752,
                        "ux1": 0.8166666626930237,
                        "uy0": 0.25725001096725464,
                        "uy1": 0.3125
                    },
                    "51": {
                        "advance": 0.5625,
                        "bearingX": 0.109375,
                        "bearingY": 0.671875,
                        "chScaleX": 0.359375,
                        "chScaleY": 0.6875,
                        "ux0": 0.8537499904632568,
                        "ux1": 0.9041666388511658,
                        "uy0": 0.25725001096725464,
                        "uy1": 0.3125
                    },
                    "52": {
                        "advance": 0.5625,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.5,
                        "chScaleY": 0.671875,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.09166666865348816,
                        "uy0": 0.34474998712539673,
                        "uy1": 0.4000000059604645
                    },
                    "53": {
                        "advance": 0.5625,
                        "bearingX": 0.0625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.421875,
                        "chScaleY": 0.6875,
                        "ux0": 0.1287499964237213,
                        "ux1": 0.1875,
                        "uy0": 0.34474998712539673,
                        "uy1": 0.4000000059604645
                    },
                    "54": {
                        "advance": 0.5625,
                        "bearingX": 0.03125,
                        "bearingY": 0.703125,
                        "chScaleX": 0.5,
                        "chScaleY": 0.71875,
                        "ux0": 0.22458334267139435,
                        "ux1": 0.2958333194255829,
                        "uy0": 0.34474998712539673,
                        "uy1": 0.4025000035762787
                    },
                    "55": {
                        "advance": 0.5625,
                        "bearingX": 0.0625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.453125,
                        "chScaleY": 0.671875,
                        "ux0": 0.33291667699813843,
                        "ux1": 0.3958333432674408,
                        "uy0": 0.34474998712539673,
                        "uy1": 0.4000000059604645
                    },
                    "56": {
                        "advance": 0.5625,
                        "bearingX": 0.046875,
                        "bearingY": 0.6875,
                        "chScaleX": 0.46875,
                        "chScaleY": 0.703125,
                        "ux0": 0.43291667103767395,
                        "ux1": 0.5,
                        "uy0": 0.34474998712539673,
                        "uy1": 0.4025000035762787
                    },
                    "57": {
                        "advance": 0.5625,
                        "bearingX": 0.03125,
                        "bearingY": 0.6875,
                        "chScaleX": 0.5,
                        "chScaleY": 0.71875,
                        "ux0": 0.5370833277702332,
                        "ux1": 0.6083333492279053,
                        "uy0": 0.34474998712539673,
                        "uy1": 0.4025000035762787
                    },
                    "58": {
                        "advance": 0.375,
                        "bearingX": 0.078125,
                        "bearingY": 0.484375,
                        "chScaleX": 0.234375,
                        "chScaleY": 0.5,
                        "ux0": 0.6454166173934937,
                        "ux1": 0.6791666746139526,
                        "uy0": 0.34474998712539673,
                        "uy1": 0.38749998807907104
                    },
                    "59": {
                        "advance": 0.375,
                        "bearingX": 0.078125,
                        "bearingY": 0.484375,
                        "chScaleX": 0.234375,
                        "chScaleY": 0.546875,
                        "ux0": 0.7162500023841858,
                        "ux1": 0.75,
                        "uy0": 0.34474998712539673,
                        "uy1": 0.38999998569488525
                    },
                    "6": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.4204166829586029,
                        "ux1": 0.44999998807907104,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "60": {
                        "advance": 0.5,
                        "bearingX": 0.03125,
                        "bearingY": 0.65625,
                        "chScaleX": 0.4375,
                        "chScaleY": 0.640625,
                        "ux0": 0.7870833277702332,
                        "ux1": 0.8500000238418579,
                        "uy0": 0.34474998712539673,
                        "uy1": 0.39750000834465027
                    },
                    "61": {
                        "advance": 0.75,
                        "bearingX": 0.125,
                        "bearingY": 0.484375,
                        "chScaleX": 0.5,
                        "chScaleY": 0.296875,
                        "ux0": 0.8870832920074463,
                        "ux1": 0.9583333134651184,
                        "uy0": 0.34474998712539673,
                        "uy1": 0.3700000047683716
                    },
                    "62": {
                        "advance": 0.5,
                        "bearingX": 0.03125,
                        "bearingY": 0.65625,
                        "chScaleX": 0.4375,
                        "chScaleY": 0.640625,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.0833333358168602,
                        "uy0": 0.4247499704360962,
                        "uy1": 0.47749999165534973
                    },
                    "63": {
                        "advance": 0.53125,
                        "bearingX": 0.046875,
                        "bearingY": 0.6875,
                        "chScaleX": 0.4375,
                        "chScaleY": 0.703125,
                        "ux0": 0.12041666358709335,
                        "ux1": 0.18333333730697632,
                        "uy0": 0.4247499704360962,
                        "uy1": 0.48249998688697815
                    },
                    "64": {
                        "advance": 0.75,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.671875,
                        "chScaleY": 0.6875,
                        "ux0": 0.22041667997837067,
                        "ux1": 0.3125,
                        "uy0": 0.4247499704360962,
                        "uy1": 0.48249998688697815
                    },
                    "65": {
                        "advance": 0.59375,
                        "bearingX": 0.046875,
                        "bearingY": 0.6875,
                        "chScaleX": 0.484375,
                        "chScaleY": 0.6875,
                        "ux0": 0.34958332777023315,
                        "ux1": 0.4166666567325592,
                        "uy0": 0.4247499704360962,
                        "uy1": 0.47999998927116394
                    },
                    "66": {
                        "advance": 0.578125,
                        "bearingX": 0.0625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.5,
                        "chScaleY": 0.671875,
                        "ux0": 0.45375001430511475,
                        "ux1": 0.5208333134651184,
                        "uy0": 0.4247499704360962,
                        "uy1": 0.47999998927116394
                    },
                    "67": {
                        "advance": 0.75,
                        "bearingX": 0.03125,
                        "bearingY": 0.6875,
                        "chScaleX": 0.703125,
                        "chScaleY": 0.703125,
                        "ux0": 0.5579166412353516,
                        "ux1": 0.6541666388511658,
                        "uy0": 0.4247499704360962,
                        "uy1": 0.48249998688697815
                    },
                    "68": {
                        "advance": 0.734375,
                        "bearingX": 0.0625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.640625,
                        "chScaleY": 0.6875,
                        "ux0": 0.6912499666213989,
                        "ux1": 0.7791666388511658,
                        "uy0": 0.4247499704360962,
                        "uy1": 0.47999998927116394
                    },
                    "69": {
                        "advance": 0.484375,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.390625,
                        "chScaleY": 0.671875,
                        "ux0": 0.8162499666213989,
                        "ux1": 0.8708333373069763,
                        "uy0": 0.4247499704360962,
                        "uy1": 0.47999998927116394
                    },
                    "7": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.4870833456516266,
                        "ux1": 0.5166666507720947,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "70": {
                        "advance": 0.484375,
                        "bearingX": 0.046875,
                        "bearingY": 0.6875,
                        "chScaleX": 0.46875,
                        "chScaleY": 0.6875,
                        "ux0": 0.9079166650772095,
                        "ux1": 0.9708333611488342,
                        "uy0": 0.4247499704360962,
                        "uy1": 0.47999998927116394
                    },
                    "71": {
                        "advance": 0.609375,
                        "bearingX": 0.015625,
                        "bearingY": 0.6875,
                        "chScaleX": 0.578125,
                        "chScaleY": 0.703125,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.10000000149011612,
                        "uy0": 0.5047500133514404,
                        "uy1": 0.5625
                    },
                    "72": {
                        "advance": 0.625,
                        "bearingX": 0.0625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.484375,
                        "chScaleY": 0.671875,
                        "ux0": 0.13708333671092987,
                        "ux1": 0.20416666567325592,
                        "uy0": 0.5047500133514404,
                        "uy1": 0.5600000023841858
                    },
                    "73": {
                        "advance": 0.328125,
                        "bearingX": 0.0625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.203125,
                        "chScaleY": 0.671875,
                        "ux0": 0.24125000834465027,
                        "ux1": 0.2708333432674408,
                        "uy0": 0.5047500133514404,
                        "uy1": 0.5600000023841858
                    },
                    "74": {
                        "advance": 0.296875,
                        "bearingX": 0.0,
                        "bearingY": 0.671875,
                        "chScaleX": 0.265625,
                        "chScaleY": 0.6875,
                        "ux0": 0.30791667103767395,
                        "ux1": 0.34583333134651184,
                        "uy0": 0.5047500133514404,
                        "uy1": 0.5600000023841858
                    },
                    "75": {
                        "advance": 0.640625,
                        "bearingX": 0.0625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.59375,
                        "chScaleY": 0.671875,
                        "ux0": 0.382916659116745,
                        "ux1": 0.4625000059604645,
                        "uy0": 0.5047500133514404,
                        "uy1": 0.5600000023841858
                    },
                    "76": {
                        "advance": 0.328125,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.28125,
                        "chScaleY": 0.671875,
                        "ux0": 0.49958333373069763,
                        "ux1": 0.5416666865348816,
                        "uy0": 0.5047500133514404,
                        "uy1": 0.5600000023841858
                    },
                    "77": {
                        "advance": 0.8125,
                        "bearingX": 0.046875,
                        "bearingY": 0.6875,
                        "chScaleX": 0.71875,
                        "chScaleY": 0.6875,
                        "ux0": 0.57874995470047,
                        "ux1": 0.675000011920929,
                        "uy0": 0.5047500133514404,
                        "uy1": 0.5600000023841858
                    },
                    "78": {
                        "advance": 0.59375,
                        "bearingX": 0.046875,
                        "bearingY": 0.6875,
                        "chScaleX": 0.484375,
                        "chScaleY": 0.6875,
                        "ux0": 0.7120832800865173,
                        "ux1": 0.7791666388511658,
                        "uy0": 0.5047500133514404,
                        "uy1": 0.5600000023841858
                    },
                    "79": {
                        "advance": 0.75,
                        "bearingX": 0.03125,
                        "bearingY": 0.6875,
                        "chScaleX": 0.703125,
                        "chScaleY": 0.703125,
                        "ux0": 0.8162499666213989,
                        "ux1": 0.9125000238418579,
                        "uy0": 0.5047500133514404,
                        "uy1": 0.5625
                    },
                    "8": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.5537499785423279,
                        "ux1": 0.5833333134651184,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "80": {
                        "advance": 0.5625,
                        "bearingX": 0.046875,
                        "bearingY": 0.6875,
                        "chScaleX": 0.5,
                        "chScaleY": 0.6875,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.08749999850988388,
                        "uy0": 0.5847499966621399,
                        "uy1": 0.6399999856948853
                    },
                    "81": {
                        "advance": 0.75,
                        "bearingX": 0.03125,
                        "bearingY": 0.6875,
                        "chScaleX": 0.6875,
                        "chScaleY": 0.75,
                        "ux0": 0.12458333373069763,
                        "ux1": 0.22083333134651184,
                        "uy0": 0.5847499966621399,
                        "uy1": 0.6449999809265137
                    },
                    "82": {
                        "advance": 0.59375,
                        "bearingX": 0.0625,
                        "bearingY": 0.671875,
                        "chScaleX": 0.546875,
                        "chScaleY": 0.671875,
                        "ux0": 0.257916659116745,
                        "ux1": 0.3333333432674408,
                        "uy0": 0.5847499966621399,
                        "uy1": 0.6399999856948853
                    },
                    "83": {
                        "advance": 0.40625,
                        "bearingX": 0.03125,
                        "bearingY": 0.6875,
                        "chScaleX": 0.34375,
                        "chScaleY": 0.703125,
                        "ux0": 0.37041667103767395,
                        "ux1": 0.4208333194255829,
                        "uy0": 0.5847499966621399,
                        "uy1": 0.6424999833106995
                    },
                    "84": {
                        "advance": 0.515625,
                        "bearingX": 0.0,
                        "bearingY": 0.671875,
                        "chScaleX": 0.515625,
                        "chScaleY": 0.671875,
                        "ux0": 0.45791667699813843,
                        "ux1": 0.5291666388511658,
                        "uy0": 0.5847499966621399,
                        "uy1": 0.6399999856948853
                    },
                    "85": {
                        "advance": 0.59375,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.484375,
                        "chScaleY": 0.6875,
                        "ux0": 0.5662499666213989,
                        "ux1": 0.6333333253860474,
                        "uy0": 0.5847499966621399,
                        "uy1": 0.6399999856948853
                    },
                    "86": {
                        "advance": 0.515625,
                        "bearingX": -0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.59375,
                        "chScaleY": 0.71875,
                        "ux0": 0.6704166531562805,
                        "ux1": 0.75,
                        "uy0": 0.5847499966621399,
                        "uy1": 0.6424999833106995
                    },
                    "87": {
                        "advance": 0.8125,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.71875,
                        "chScaleY": 0.6875,
                        "ux0": 0.7870833277702332,
                        "ux1": 0.8833333253860474,
                        "uy0": 0.5847499966621399,
                        "uy1": 0.6399999856948853
                    },
                    "88": {
                        "advance": 0.5,
                        "bearingX": -0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.59375,
                        "chScaleY": 0.671875,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.10000000149011612,
                        "uy0": 0.6672499775886536,
                        "uy1": 0.7225000262260437
                    },
                    "89": {
                        "advance": 0.5,
                        "bearingX": -0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.609375,
                        "chScaleY": 0.671875,
                        "ux0": 0.13708333671092987,
                        "ux1": 0.21666666865348816,
                        "uy0": 0.6672499775886536,
                        "uy1": 0.7225000262260437
                    },
                    "9": {
                        "advance": 0.25,
                        "bearingX": 0.03125,
                        "bearingY": 0.671875,
                        "chScaleX": 0.1875,
                        "chScaleY": 0.671875,
                        "ux0": 0.6204166412353516,
                        "ux1": 0.6499999761581421,
                        "uy0": 0.012250000610947609,
                        "uy1": 0.06750000268220901
                    },
                    "90": {
                        "advance": 0.515625,
                        "bearingX": 0.0,
                        "bearingY": 0.671875,
                        "chScaleX": 0.53125,
                        "chScaleY": 0.671875,
                        "ux0": 0.2537499964237213,
                        "ux1": 0.32499998807907104,
                        "uy0": 0.6672499775886536,
                        "uy1": 0.7225000262260437
                    },
                    "91": {
                        "advance": 0.359375,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.28125,
                        "chScaleY": 0.796875,
                        "ux0": 0.3620833456516266,
                        "ux1": 0.4000000059604645,
                        "uy0": 0.6672499775886536,
                        "uy1": 0.7325000166893005
                    },
                    "92": {
                        "advance": 0.34375,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.28125,
                        "chScaleY": 0.796875,
                        "ux0": 0.43708333373069763,
                        "ux1": 0.4749999940395355,
                        "uy0": 0.6672499775886536,
                        "uy1": 0.7325000166893005
                    },
                    "93": {
                        "advance": 0.359375,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.28125,
                        "chScaleY": 0.796875,
                        "ux0": 0.5120833516120911,
                        "ux1": 0.550000011920929,
                        "uy0": 0.6672499775886536,
                        "uy1": 0.7325000166893005
                    },
                    "94": {
                        "advance": 0.5,
                        "bearingX": 0.0,
                        "bearingY": 0.671875,
                        "chScaleX": 0.5,
                        "chScaleY": 0.328125,
                        "ux0": 0.5870832800865173,
                        "ux1": 0.6541666388511658,
                        "uy0": 0.6672499775886536,
                        "uy1": 0.6949999928474426
                    },
                    "95": {
                        "advance": 0.5,
                        "bearingX": 0.0,
                        "bearingY": -0.046875,
                        "chScaleX": 0.5,
                        "chScaleY": 0.109375,
                        "ux0": 0.6912499666213989,
                        "ux1": 0.762499988079071,
                        "uy0": 0.6672499775886536,
                        "uy1": 0.6775000095367432
                    },
                    "96": {
                        "advance": 0.5,
                        "bearingX": 0.09375,
                        "bearingY": 0.65625,
                        "chScaleX": 0.234375,
                        "chScaleY": 0.125,
                        "ux0": 0.7995833158493042,
                        "ux1": 0.8333333134651184,
                        "uy0": 0.6672499775886536,
                        "uy1": 0.6775000095367432
                    },
                    "97": {
                        "advance": 0.59375,
                        "bearingX": 0.03125,
                        "bearingY": 0.484375,
                        "chScaleX": 0.5,
                        "chScaleY": 0.5,
                        "ux0": 0.8704166412353516,
                        "ux1": 0.9416666626930237,
                        "uy0": 0.6672499775886536,
                        "uy1": 0.7099999785423279
                    },
                    "98": {
                        "advance": 0.578125,
                        "bearingX": 0.046875,
                        "bearingY": 0.671875,
                        "chScaleX": 0.5,
                        "chScaleY": 0.671875,
                        "ux0": 0.02041666768491268,
                        "ux1": 0.09166666865348816,
                        "uy0": 0.7547500133514404,
                        "uy1": 0.8100000023841858
                    },
                    "99": {
                        "advance": 0.5625,
                        "bearingX": 0.03125,
                        "bearingY": 0.484375,
                        "chScaleX": 0.515625,
                        "chScaleY": 0.484375,
                        "ux0": 0.1287499964237213,
                        "ux1": 0.20000000298023224,
                        "uy0": 0.7547500133514404,
                        "uy1": 0.7975000143051147
                    }
                },
                "CharacterMapSize": 123,
                "Filepath": "C:\\Users\\Gabe\\Downloads\\BAUHS93.TTF",
                "FontTextureId": 4,
                "GlyphRangeEnd": 123,
                "GlyphRangeStart": 0,
                "ResourceId": 0
            }
        },
        "SceneID": 0,
        "Textures": {
            "1": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\freeknight\\png\\Attack (1).png",
                "ResourceId": 1
            },
            "2": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\freeknight\\png\\Dead (10).png",
                "ResourceId": 2
            },
            "3": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\freescifiplatform\\png\\Objects\\Barrel (1).png",
                "ResourceId": 3
            },
            "4": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Coding\\JadeProjects\\TestProject\\assets\\BAUHS93.png",
                "ResourceId": 4
            }
        }
    },
    "Components": [
        {
            "Transform": {
                "Entity": 0,
                "Position": {
                    "X": -571.01611328125,
                    "Y": 73.92861938476563,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 16.905738830566406,
                    "Y": 19.642845153808594,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 1,
                "Position": {
                    "X": 698.2620239257813,
                    "Y": 122.14285278320313,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 24.222393035888672,
                    "Y": 21.571435928344727,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 2,
                "Position": {
                    "X": -634.63916015625,
                    "Y": -406.607177734375,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 10.225334167480469,
                    "Y": 13.214285850524902,
                    "Z": 1.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 1,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 0,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 2,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 1,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 3,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 2,
                "ZIndex": 0
            }
        },
        {
            "DefaultScript": {
                "Entity": 0,
                "m_ExampleFloatProperty": 3.140000104904175,
                "m_ExampleIntProperty": 10
            }
        }
    ],
    "Project": "C:\\Users\\Gabe\\Documents\\Coding\\JadeProjects\\TestProject\\TestProject.cprj"
}