{
    "Assets": {
        "AssetCount": 0,
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 0,
                "Position": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.9425287246704102,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Entity": 0,
                "ZIndex": 0
            }
        },
        {
            "DefaultScript": {
                "Entity": 0,
                "m_ExampleFloatProperty": 3.140000104904175,
                "m_ExampleIntProperty": 10
            }
        }
    ],
    "Project": "C:\\Users\\Gabe\\Documents\\Coding\\JadeProjects\\New Jade Project\\New Jade Project.cprj",
    "Size": 3
}