{
    "Assets": {
        "AssetCount": 3,
        "AssetList": {
            "1": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\catndog\\png\\dog\\Dead (1).png",
                "ResourceId": 1,
                "Type": 1
            },
            "2": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\catndog\\png\\dog\\Dead (6).png",
                "ResourceId": 2,
                "Type": 1
            },
            "3": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\catndog\\png\\dog\\Idle (7).png",
                "ResourceId": 3,
                "Type": 1
            }
        },
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 0,
                "Position": {
                    "X": -531.2518920898438,
                    "Y": 30.53569793701172,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 17.8601016998291,
                    "Y": 14.50000286102295,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 1,
                "Position": {
                    "X": 631.4580078125,
                    "Y": 56.2500114440918,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 26.131067276000977,
                    "Y": 26.392858505249023,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 2,
                "Position": {
                    "X": -203.5934600830078,
                    "Y": -27.321487426757813,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 15.633284568786621,
                    "Y": 16.107145309448242,
                    "Z": 1.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 1,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 0,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 3,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 1,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 2,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 2,
                "ZIndex": 0
            }
        },
        {
            "SecondScript": {
                "Entity": 0,
                "m_ExampleFloatProperty": 3.140000104904175,
                "m_ExampleIntProperty": 10
            }
        },
        {
            "DefaultScript": {
                "Entity": 0,
                "m_ExampleFloatProperty": 3.140000104904175,
                "m_ExampleIntProperty": 10
            }
        }
    ],
    "Project": "C:\\Users\\Gabe\\Documents\\Coding\\JadeProjects\\TestProject\\TestProject.cprj",
    "Size": 8
}