{
    "Assets": {
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 1048587,
                "LocalPosition": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalRotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalScale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Parent": 1048575,
                "Position": {
                    "X": -1.4669525623321533,
                    "Y": 0.02176487445831299,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 0.4737114906311035,
                    "Y": 1.0,
                    "Z": 1.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 0.6901960968971252
                },
                "Entity": 1048587,
                "ZIndex": 0
            }
        },
        {
            "Box2D": {
                "Entity": 1048587,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048587,
                "FixedRotation": true,
                "LinearDamping": 0.5,
                "Mass": 60.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Tag": {
                "Entity": 1048587,
                "Name": "Player"
            }
        },
        {
            "Transform": {
                "Entity": 1048586,
                "LocalPosition": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalRotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalScale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Parent": 1048575,
                "Position": {
                    "X": 0.8955097794532776,
                    "Y": -4.267094612121582,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 31.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 14.66324234008789,
                    "Y": 1.7389719486236572,
                    "Z": 1.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 1048586,
                "ZIndex": 0
            }
        },
        {
            "Box2D": {
                "Entity": 1048586,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048586,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Tag": {
                "Entity": 1048586,
                "Name": "Ground"
            }
        },
        {
            "Transform": {
                "Entity": 1048585,
                "LocalPosition": {
                    "X": 7.819825172424316,
                    "Y": -0.95350581407547,
                    "Z": 0.0
                },
                "LocalRotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalScale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Parent": 4,
                "Position": {
                    "X": 8.828975677490234,
                    "Y": -0.7005940079689026,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 6.38464879989624,
                    "Y": 0.7523021697998047,
                    "Z": 2.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 1048585,
                "ZIndex": 0
            }
        },
        {
            "Box2D": {
                "Entity": 1048585,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048585,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Tag": {
                "Entity": 1048585,
                "Name": "Ground"
            }
        },
        {
            "Transform": {
                "Entity": 1048584,
                "LocalPosition": {
                    "X": 6.914021015167236,
                    "Y": -1.6604831218719482,
                    "Z": 0.0
                },
                "LocalRotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalScale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Parent": 4,
                "Position": {
                    "X": 7.9231719970703125,
                    "Y": -1.4075713157653809,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 6.38464879989624,
                    "Y": 0.7523021697998047,
                    "Z": 2.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 1048584,
                "ZIndex": 0
            }
        },
        {
            "Box2D": {
                "Entity": 1048584,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048584,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Tag": {
                "Entity": 1048584,
                "Name": "Ground"
            }
        },
        {
            "Transform": {
                "Entity": 1048583,
                "LocalPosition": {
                    "X": 6.185009956359863,
                    "Y": -2.2310290336608887,
                    "Z": 0.0
                },
                "LocalRotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalScale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Parent": 4,
                "Position": {
                    "X": 7.194160461425781,
                    "Y": -1.9781172275543213,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 6.38464879989624,
                    "Y": 0.7523021697998047,
                    "Z": 2.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 1048583,
                "ZIndex": 0
            }
        },
        {
            "Box2D": {
                "Entity": 1048583,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048583,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Tag": {
                "Entity": 1048583,
                "Name": "Ground"
            }
        },
        {
            "Transform": {
                "Entity": 1048582,
                "LocalPosition": {
                    "X": 5.402122974395752,
                    "Y": -2.763960361480713,
                    "Z": 0.0
                },
                "LocalRotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalScale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Parent": 4,
                "Position": {
                    "X": 6.411273956298828,
                    "Y": -2.5110485553741455,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 6.38464879989624,
                    "Y": 0.7523021697998047,
                    "Z": 2.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 1048582,
                "ZIndex": 0
            }
        },
        {
            "Box2D": {
                "Entity": 1048582,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048582,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Tag": {
                "Entity": 1048582,
                "Name": "Ground"
            }
        },
        {
            "Transform": {
                "Entity": 5,
                "LocalPosition": {
                    "X": 4.525426864624023,
                    "Y": -3.4657251834869385,
                    "Z": 0.0
                },
                "LocalRotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalScale": {
                    "X": 1.0000004768371582,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Parent": 4,
                "Position": {
                    "X": 5.534577369689941,
                    "Y": -3.212813377380371,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 6.384649276733398,
                    "Y": 0.7523021697998047,
                    "Z": 2.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.18213766813278198,
                    "Y": 0.25977009534835815,
                    "Z": 0.25977009534835815
                },
                "Entity": 5,
                "ZIndex": 0
            }
        },
        {
            "Box2D": {
                "Entity": 5,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 5,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Tag": {
                "Entity": 5,
                "Name": "Ground"
            }
        },
        {
            "Transform": {
                "Entity": 4,
                "LocalPosition": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalRotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalScale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Parent": 1048575,
                "Position": {
                    "X": 1.009150743484497,
                    "Y": 0.2529118061065674,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 5.38464879989624,
                    "Y": -0.2476978302001953,
                    "Z": 1.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 0.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 4,
                "ZIndex": 0
            }
        },
        {
            "Tag": {
                "Entity": 4,
                "Name": "Stairs"
            }
        },
        {
            "Transform": {
                "Entity": 3,
                "LocalPosition": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalRotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "LocalScale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Parent": 1048575,
                "Position": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                }
            }
        },
        {
            "Tag": {
                "Entity": 3,
                "Name": "Camera"
            }
        },
        {
            "Camera": {
                "Aspect": 1.7777777910232544,
                "Entity": 3,
                "Fov": 45.0,
                "Framebuffer": {
                    "ColorAttachments": [
                        {
                            "ExternalFormat": 3,
                            "Filepath": "",
                            "InternalFormat": 3,
                            "MagFilter": 1,
                            "MinFilter": 1,
                            "WrapS": 1,
                            "WrapT": 1
                        }
                    ],
                    "DepthStencilFormat": 0,
                    "Height": 2160,
                    "IncludeDepthStencil": false,
                    "Width": 3840
                },
                "ProjectionFarPlane": 100.0,
                "ProjectionNearPlane": 0.5,
                "ProjectionSize": {
                    "X": 6.0,
                    "Y": 3.0
                },
                "Zoom": 7.0
            }
        }
    ],
    "EditorCamera": {
        "Components": [
            {
                "Transform": {
                    "Entity": 0,
                    "LocalPosition": {
                        "X": 0.0,
                        "Y": 0.0,
                        "Z": 0.0
                    },
                    "LocalRotation": {
                        "X": 0.0,
                        "Y": 0.0,
                        "Z": 0.0
                    },
                    "LocalScale": {
                        "X": 1.0,
                        "Y": 1.0,
                        "Z": 1.0
                    },
                    "Parent": 1048575,
                    "Position": {
                        "X": 0.7250783443450928,
                        "Y": -1.2250813245773315,
                        "Z": 0.0
                    },
                    "Rotation": {
                        "X": 0.0,
                        "Y": 0.0,
                        "Z": 0.0
                    },
                    "Scale": {
                        "X": 1.0,
                        "Y": 1.0,
                        "Z": 1.0
                    }
                }
            },
            {
                "Tag": {
                    "Entity": 0,
                    "Name": "New Entity"
                }
            },
            {
                "Camera": {
                    "Aspect": 1.7777777910232544,
                    "Entity": 0,
                    "Fov": 45.0,
                    "Framebuffer": {
                        "ColorAttachments": [
                            {
                                "ExternalFormat": 3,
                                "Filepath": "",
                                "InternalFormat": 3,
                                "MagFilter": 1,
                                "MinFilter": 1,
                                "WrapS": 1,
                                "WrapT": 1
                            },
                            {
                                "ExternalFormat": 6,
                                "Filepath": "",
                                "InternalFormat": 5,
                                "MagFilter": 0,
                                "MinFilter": 0,
                                "WrapS": 0,
                                "WrapT": 0
                            }
                        ],
                        "DepthStencilFormat": 0,
                        "Height": 2160,
                        "IncludeDepthStencil": false,
                        "Width": 3840
                    },
                    "ProjectionFarPlane": 100.0,
                    "ProjectionNearPlane": 0.5,
                    "ProjectionSize": {
                        "X": 6.0,
                        "Y": 3.0
                    },
                    "Zoom": 2.144307851791382
                }
            }
        ]
    },
    "Project": "C:\\Users\\Gabe\\Documents\\Coding\\CocoaProjects\\NewProject\\NewProject.cprj",
    "SceneHeirarchyOrder": [
        {
            "Id": 1048587,
            "Index": 0,
            "IsOpen": true,
            "Level": 0,
            "Selected": false
        },
        {
            "Id": 1048586,
            "Index": 1,
            "IsOpen": true,
            "Level": 0,
            "Selected": false
        },
        {
            "Id": 4,
            "Index": 2,
            "IsOpen": true,
            "Level": 0,
            "Selected": false
        },
        {
            "Id": 1048582,
            "Index": 3,
            "IsOpen": true,
            "Level": 1,
            "Selected": false
        },
        {
            "Id": 1048583,
            "Index": 4,
            "IsOpen": true,
            "Level": 1,
            "Selected": false
        },
        {
            "Id": 1048584,
            "Index": 5,
            "IsOpen": true,
            "Level": 1,
            "Selected": false
        },
        {
            "Id": 1048585,
            "Index": 6,
            "IsOpen": true,
            "Level": 1,
            "Selected": false
        },
        {
            "Id": 5,
            "Index": 7,
            "IsOpen": true,
            "Level": 1,
            "Selected": false
        },
        {
            "Id": 3,
            "Index": 8,
            "IsOpen": true,
            "Level": 0,
            "Selected": false
        }
    ]
}