{
    "Assets": {
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 1048586,
                "LocalPosition": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Parent": 1048575,
                "Position": {
                    "X": -0.6088685989379883,
                    "Y": -3.1778931617736816,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 10.0,
                    "Y": 0.5,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 1048587,
                "LocalPosition": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Parent": 1048575,
                "Position": {
                    "X": -1.7677879333496094,
                    "Y": 0.788148045539856,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048587,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 22.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048586,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Box2D": {
                "Entity": 1048587,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Box2D": {
                "Entity": 1048586,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.6823529601097107,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 1048586,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 0.6901960968971252
                },
                "Entity": 1048587,
                "ZIndex": 0
            }
        },
        {
            "Tag": {
                "Entity": 1048586,
                "Name": "New Entity"
            }
        },
        {
            "Tag": {
                "Entity": 1048587,
                "Name": "New Entity"
            }
        }
    ],
    "Project": "C:\\Users\\Gabe\\Documents\\Coding\\JadeProjects\\NewProject\\NewProject.cprj",
    "SceneHeirarchyOrder": [
        {
            "Id": 1048587,
            "Index": 0,
            "IsOpen": true,
            "Level": 0,
            "Selected": false
        },
        {
            "Id": 1048586,
            "Index": 1,
            "IsOpen": true,
            "Level": 0,
            "Selected": false
        }
    ]
}