{
    "Assets": {
        "AssetCount": 1,
        "AssetList": {
            "1": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\catndog\\png\\dog\\Fall (7).png",
                "ResourceId": 1,
                "Type": 1
            }
        },
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 0,
                "Position": {
                    "X": -221.08987426757813,
                    "Y": 61.07142639160156,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 17.8601016998291,
                    "Y": 14.50000286102295,
                    "Z": 1.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 1,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 0,
                "ZIndex": 0
            }
        },
        {
            "SecondScript": {
                "Entity": 0,
                "m_ExampleFloatProperty": 3.140000104904175,
                "m_ExampleIntProperty": 10
            }
        },
        {
            "DefaultScript": {
                "Entity": 0,
                "m_ExampleFloatProperty": 3.140000104904175,
                "m_ExampleIntProperty": 10
            }
        }
    ],
    "Project": "C:\\Users\\Gabe\\Documents\\Coding\\JadeProjects\\TestProject\\TestProject.cprj",
    "Size": 4
}