{
    "Assets": {
        "AssetCount": 0,
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 0,
                "Position": {
                    "X": 662.5415649414063,
                    "Y": 123.1939468383789,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 16.3599853515625,
                    "Y": 15.804031372070313,
                    "Z": 1.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.8666666746139526,
                    "Y": 0.3745594024658203,
                    "Z": 0.3745594024658203
                },
                "Entity": 0,
                "ZIndex": 0
            }
        },
        {
            "PlayerScript": {
                "Entity": 0,
                "m_PlayerDeathCount": 0,
                "m_PlayerSpeed": 81.0
            }
        }
    ],
    "Project": "C:\\Users\\Gabe\\Documents\\Coding\\JadeProjects\\TestProject\\.jprj",
    "Size": 3
}