{
    "Assets": {
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 1048586,
                "LocalPosition": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Parent": 1048575,
                "Position": {
                    "X": -0.6156731247901917,
                    "Y": -3.615510940551758,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 31.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 6.106097221374512,
                    "Y": 0.41912418603897095,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 1048587,
                "LocalPosition": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Parent": 1048575,
                "Position": {
                    "X": -1.4669525623321533,
                    "Y": 0.02176487445831299,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 0.4737114906311035,
                    "Y": 1.0,
                    "Z": 1.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048587,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 6.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 1048586,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 0.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "Box2D": {
                "Entity": 1048587,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "Box2D": {
                "Entity": 1048586,
                "HalfSize": {
                    "X": 0.5,
                    "Y": 0.5
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 0.6823529601097107,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 1048586,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 4294967295,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 0.6901960968971252
                },
                "Entity": 1048587,
                "ZIndex": 0
            }
        },
        {
            "Tag": {
                "Entity": 1048586,
                "Name": "Ground"
            }
        },
        {
            "Tag": {
                "Entity": 1048587,
                "Name": "Player"
            }
        },
        {
            "PlayerScript": {
                "Entity": 1048587,
                "PlayerSpeed": 904.0
            }
        }
    ],
    "EditorCamera": {
        "Aspect": 1.7777777910232544,
        "Components": null,
        "Fov": 45.0,
        "ProjectionFarPlane": 100.0,
        "ProjectionNearPlane": 0.5,
        "ProjectionSize": {
            "X": 6.0,
            "Y": 3.0
        },
        "Transform": {
            "LocalPosition": {
                "X": 0.0,
                "Y": 0.0,
                "Z": 0.0
            },
            "Parent": 1048575,
            "Position": {
                "X": 0.8510950803756714,
                "Y": -1.0049521923065186,
                "Z": 0.0
            },
            "Rotation": {
                "X": 0.0,
                "Y": 0.0,
                "Z": 0.0
            },
            "Scale": {
                "X": 1.0,
                "Y": 1.0,
                "Z": 1.0
            }
        },
        "Zoom": 2.3999993801116943
    },
    "Project": "C:\\Users\\Gabe\\Documents\\Coding\\JadeProjects\\NewProject\\NewProject.cprj",
    "SceneHeirarchyOrder": [
        {
            "Id": 1048587,
            "Index": 0,
            "IsOpen": true,
            "Level": 0,
            "Selected": true
        },
        {
            "Id": 1048586,
            "Index": 1,
            "IsOpen": true,
            "Level": 0,
            "Selected": false
        }
    ]
}